# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Secrets
.env
*.pem
*.key
*secret*
application-secret.yml
spring-secret.yaml

# OS / IDE
.DS_Store
.idea/
.vscode/

# Allow External Secrets manifests
!k8s/overlays/dev/cluster-secret-store.yaml
!k8s/overlays/dev/external-secret.yaml

# Generated Ansible inventory
ansible/inventory/*.ini

# Gradle / build outputs
.gradle/
build/
app/.gradle/
app/build/

# Local alerting variables
terraform/envs/dev/alerting.auto.tfvars
