[defaults]
host_key_checking = False
retry_files_enabled = False
inventory = ./inventory/dev.ini
roles_path = ./roles
stdout_callback = default
callback_result_format = yaml

[ssh_connection]
pipelining = True
